/* basic structure */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
p.note {
  margin: 0.25em;
  padding: 0.125em;
  position: fixed;
  bottom: 0;
  right: 1em;
  text-align: right;
}
p.note a {
  color: yellow;
}

/* front stopper */
#stopper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16, 16, 16);
  font-size: 1.5em;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#stopper p {
  text-align: center;
}

/* structure (button + content) */
div.buttons {
  display: flex;
  flex-flow: row wrap;
}
div.contents {
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 1.75em;
}
button {
  margin: 0.5em;
  padding: 0.5em;
}
button.on {
  background-color: rgb(200, 200, 40);
}

/* cards */
section {
  font-size: 0.6em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.stat {
  position: fixed;
  top: 1em;
  right: 1.75em;  
  font-size: 1.5em;
}

/* guess group */
div.guess-group {
  padding: 0.5em;
  margin: 0.5em 0.25em;
  border: 0.125em solid rgba(80, 80, 150, 0.5);
  border-radius: 0.5em;
  background-color: rgba(100, 100, 200, 0.1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.guess-result {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}


/* guess word */
div.guess-word {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
span.guess-char {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  margin: 0.125em;
  text-transform: uppercase;
  border: 1px solid rgb(100, 100, 100);
}
span.guess-char-C {
  background-color: rgb(80, 140, 80);
  border: 1px solid rgb(200, 200, 200);
}
span.guess-char-P {
  background-color: rgb(180, 160, 60);
  border: 1px solid rgb(200, 200, 200);
}
span.guess-char-_ {
  border: 1px solid rgb(200, 200, 200);
}
div.guess-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  margin: 0.125em;
  font-size: 1.5em;
}
div.guess-result-extended > div.guess-word,
div.guess-result-extended > div.guess-arrow {
  padding-top: 0.75em;
}
div.guess-word-collapsed {
  padding-left: 0.5em;
}
