html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 0 1.5em;
  padding: 0;
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
button {
  margin: 0.5em;
  padding: 0.5em;
}
div.card{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
p.note {
  margin: 0.25em;
  padding: 0.125em;
  position: fixed;
  bottom: 0;
  right: 1em;
  text-align: right;
}
p.note a {
  color: yellow;
}
p.stat {
  margin: 0.25em 1.5em;
  padding: 0.125em;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
}
div.box {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.5em;
  border: 0.0625em solid rgb(150, 150, 150);
  background-color: rgba(0, 0, 255, 0.05);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
div.box1 {
  font-size: 0.5em;
  border: none;
  flex-grow: 1;
  overflow: auto;
}
div.index {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.5em;
}
div.guess-results {
  margin: 0.25em;
  padding: 0.25em;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
div.guess-result {
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-flex-start;
  border-top: 1px solid rgb(25, 25, 25);
  border-bottom: 1px solid rgb(25, 25, 25);
}
div.guess-result:nth-child(odd) {
  background-color: rgba(0, 255, 0, 0.1);
}

div.guess {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
span.guess-char {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  margin: 0.125em;
  text-transform: uppercase;
}
span.guess-char-Y {
  background-color: rgb(80, 140, 80);
}
span.guess-char-X {
  background-color: rgb(180, 160, 60);
}
div.guess-result-word-case {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;  
}
div.guess > span.guess-char {
  border: 1px solid rgb(100, 100, 100);
}
div.guess-result-word-case > span.guess-char {
  border: 1px solid rgb(200, 200, 200);
}
div.guess-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  height: 1.25em;
  margin: 0.125em;
  font-size: 1.5em;
}
